<html class=" js flexbox flexboxlegacy canvas canvastext webgl no-touch geolocation postmessage websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg smil svgclippaths">
<head>
    <style type="text/css">@charset "UTF-8";
    [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak, .ng-hide:not(.ng-hide-animate) {
        display: none !important;
    }

    ng\:form {
        display: block;
    }

    .ng-animate-shim {
        visibility: hidden;
    }

    .ng-anchor {
        position: absolute;
    }</style>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="stylesheet" href="stylesheets/main.css">
    <style>.ngf-hide {
        display: none !important
    }</style>
    <title>Overtime - Season 2</title>
</head>
<body ng-app="overtimenzApp" class="ng-scope" style="zoom: 1;padding-top: 0px;padding-right: 0px;padding-left: 0px;padding-bottom: 0px;"> <!--[if lt IE 9]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->
<div ng-show="false" class="development ng-hide" aria-hidden="true"></div> <!-- uiView: navbar -->
<div ui-view="navbar" class="ng-scope">
    <nav class="navbar navbar-default navbar-inverse ng-scope" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse"><span
                        class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span
                        class="icon-bar"></span> <span class="icon-bar"></span></button>
                <img src="images/13811832.logo-v2.png" height="50px" title="" style="">
            </div>
        </div>
    </nav>
</div>
<div> <!-- uiView: content -->
    <div ui-view="content" class="ng-scope">
        <div class="section center-everything ng-scope">
            <div class="container">
                <div class="panel panel-primary">
                    <div class="panel-heading"></div>
                    <div class="panel-body"><img class="center-block" src="images/13811832.logo-v2.png"
                                                 width="70%" title="" style="">
                        <div class="row">
                        <div class="col-sm-10 col-sm-offset-1">
                            Overtime is dead, long live Overtime.
                            <br />
                            <br />
                            We started Overtime last year bemoaning the lack of social eSports being played in New Zealand, not fully understanding the reason behind that absence.
                            Well, now we do. It's really hard to do it properly. It takes a bunch of time, coordination, and passion.
                        <br />
                            <br />

                            Fortunately we still have the passion, but unfortunately, our time has dried up.
                        <br />
                            <br />

                            We won't be running Season 2 this year. Instead, Troy and I will be spinning off the software we wrote to manage the first season, and working on that to the point where it's a viable product in and of itself.
                            Our new tournament as a service will be called BattleStack - and we're very excited to be working on it.
                        <br />
                            <br />
                        The Team would like to thank everyone who had input into Season 1, and our pre-season. Thank you to our sponsors, our game admins and the teams, you, our players.
                        In particular, we want to thank the great folk at Bigpipe and Playtech. Without your support, our LAN Final would never have happened. Your support is what made it all work.
                        <br />
                            <br />

                        Thank you.
                        <br />
                            <br />

                            The awesomeness that was Season 1 is a perfect example of what all you likeminded people can do when you come together. We aim to make that 'coming together' scale.
                        <br />
                            <br />

                            So long and thanks for all the fish.
                        <br />
                            <br />
                            Alex<br />
                            team@battlestack.io
                            <br />
                            <br />
                        </div>
                    </div>
                    </div>
                </div>
        </div>
    </div>
</div>
<script async="" src="//www.google-analytics.com/analytics.js"></script>
<script>(function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r;
    i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
    a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
    a.async = 1;
    a.src = g;
    m.parentNode.insertBefore(a, m)
})(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
ga('create', 'UA-71355891-1', 'auto');
ga('send', 'pageview');</script>
<script src="scripts/vendor.js"></script>
<script src="scripts/app.js"></script>
<script id="hiddenlpsubmitdiv" style="display: none;"></script>
<script>try {
    (function () {
        for (var lastpass_iter = 0; lastpass_iter < document.forms.length; lastpass_iter++) {
            var lastpass_f = document.forms[lastpass_iter];
            if (typeof(lastpass_f.lpsubmitorig2) == "undefined") {
                lastpass_f.lpsubmitorig2 = lastpass_f.submit;
                if (typeof(lastpass_f.lpsubmitorig2) == 'object') {
                    continue;
                }
                lastpass_f.submit = function () {
                    var form = this;
                    var customEvent = document.createEvent("Event");
                    customEvent.initEvent("lpCustomEvent", true, true);
                    var d = document.getElementById("hiddenlpsubmitdiv");
                    if (d) {
                        for (var i = 0; i < document.forms.length; i++) {
                            if (document.forms[i] == form) {
                                if (typeof(d.innerText) != 'undefined') {
                                    d.innerText = i.toString();
                                } else {
                                    d.textContent = i.toString();
                                }
                            }
                        }
                        d.dispatchEvent(customEvent);
                    }
                    form.lpsubmitorig2();
                }
            }
        }
    })()
} catch (e) {
}</script>
</body>
<div style="padding: 0px; margin: 3px 3px 20px; border: 3px solid rgba(243, 243, 243, 0.6); border-radius: 2px; box-shadow: rgb(102, 102, 102) 0px 0px 2px; visibility: visible; display: none; z-index: 2147483647; left: auto; top: auto; right: auto; bottom: auto; width: 0px; height: 0px; position: fixed !important; box-sizing: content-box !important; background: padding-box padding-box rgb(248, 248, 255);">
    <img alt=""
         style="display: none; position: relative; width: 100%; height: 100%; max-width: inherit; max-height: inherit; margin: 0px; padding: 0px; border: 0px; visibility: inherit !important; background: none;">
    <video poster="data:image/gif;base64,R0lGODlhAQABAAAAACwAAAAAAQABAAA=" autoplay=""
           style="display: none; position: relative; width: 100%; height: 100%; max-width: inherit; max-height: inherit; margin: 0px; padding: 0px; border: 0px; box-shadow: rgb(241, 101, 41) 0px 0px 0px 1px; visibility: inherit !important; background: none;"></video>
    <div style="left: 0px; right: auto; display: none; cursor: default; position: absolute; width: auto; height: auto; border: 0px; white-space: nowrap; font-style: normal; font-variant: normal; font-weight: normal; font-stretch: normal; font-size: 13px; line-height: 1.4em; font-family: 'Trebuchet MS', sans-serif; box-shadow: rgb(221, 221, 221) 0px 0px 1px inset; padding: 0px 4px; border-radius: 3px; color: rgb(255, 255, 255) !important; top: -18px; background: rgba(0, 0, 0, 0.74902) !important;">
        <b style="display: none; transition: background-color 0.1s; border-radius: 3px; padding: 0px 2px;"></b> <b
            style="display: none;"></b> <span style="color: inherit; display: inline-block;"></span></div>
</div>
<img alt="" draggable="false"
     src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOng9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHZpZXdCb3g9IjAgMCAxMDAgMTAwIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJ4TWluWU1pbiBub25lIj48Zz48cGF0aCBpZD0icCIgZD0iTTMzIDQyYTEgMSAwIDAgMSA1NS0yMCAzNiAzNiAwIDAgMC01NSAyMCIvPjx1c2UgeDpocmVmPSIjcCIgdHJhbnNmb3JtPSJyb3RhdGUoNzIgNTAgNTApIi8+PHVzZSB4OmhyZWY9IiNwIiB0cmFuc2Zvcm09InJvdGF0ZSgxNDQgNTAgNTApIi8+PHVzZSB4OmhyZWY9IiNwIiB0cmFuc2Zvcm09InJvdGF0ZSgyMTYgNTAgNTApIi8+PHVzZSB4OmhyZWY9IiNwIiB0cmFuc2Zvcm09InJvdGF0ZSgyODggNTAgNTApIi8+PGFuaW1hdGVUcmFuc2Zvcm0gYXR0cmlidXRlTmFtZT0idHJhbnNmb3JtIiB0eXBlPSJyb3RhdGUiIHZhbHVlcz0iMzYwIDUwIDUwOzAgNTAgNTAiIGR1cj0iMS44cyIgcmVwZWF0Q291bnQ9ImluZGVmaW5pdGUiLz48L2c+PC9zdmc+"
     style="padding: 5px; width: 38px; height: 38px; z-index: 2147483647; display: none; left: auto; top: auto; right: auto; bottom: auto; margin: 0px; transition: background-color 0.5s, opacity 0.2s ease, top 0.15s ease-out, left 0.15s ease-out; border-radius: 50% !important; box-shadow: rgb(166, 166, 166) 0px 0px 5px 1px !important; position: fixed !important; box-sizing: border-box !important; opacity: 0; background-color: rgb(255, 255, 255); background-clip: padding-box;">
</html>